@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
    }

body{
    margin: 0;
    padding: 0;
    font-family: "Lekton Regular";
}
nav {
    background-color: #116466;
    margin: 0;
    padding: 1px;
    width: 100%;
}

#navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#navbar li{
    border: solid white 1px;
    border-radius: 30px;
    padding: 5px 25px 5px 25px; /*ordre : top right bottom left*/
    
}

#navbar li a{
    color: white;
    text-decoration: none;
}

#navbar li a img{
    margin: 0px 3px -7px 1px; /*ordre : top right bottom left*/
}

.triangle-nav {
    transform: rotate(180deg) scale(0.7);
}
