@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}




#labisen-logo{
    width : 40vw;
    height: auto;
    margin-left : 5%;
    margin-top : 5%;
}

.intro{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.txt_and_button{
    flex-grow: 1;
}

#txt_intro{
    font-size: 1.5rem;
}

#title{
    
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    padding-top: 0.52rem;
}

a{
    color: inherit;
    text-decoration: none;
}

.button{
    color: #FFF;
    margin-left: 10%;
    margin-top: 3rem ;
    width: 18rem;
    height: 3rem;
    padding: auto;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #116466;
    
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}

.button:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
    border : 0.15rem solid ;
    
}

#competences{
    width: 50vw;
    height: auto;
}

#actu{
    font-weight: bold;
    margin-left : 5%;
    font-size: 1.5rem;

}

#txt{
    margin-left: 10%;
    font-size: 1.5rem;

}

#picture-main{
    width: 100%;
    background: url(images/picture-main.jpg), lightgray 75% , cover no-repeat;
    mix-blend-mode: overlay;
}
