*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        color: #FFCB9A;
        text-shadow: 0 0 7px #FFCB9A;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #FFCB9A;
        text-shadow: 0 0 7px #FFCB9A;
    }
}

.letter {
    color: #FFCB9A;
    font-size: 100px;
    position: relative;
    height: 100px;
    width: 100px;
    animation: flash 1.2s linear infinite;
}

.letters span:nth-child(1) {
    animation-delay: 0.1s;
}

.letters span:nth-child(2) {
    animation-delay: 0.2s;
}

.letters span:nth-child(3) {
    animation-delay: 0.3s;
}

.letters span:nth-child(4) {
    animation-delay: 0.4s;
}

.letters span:nth-child(5) {
    animation-delay: 0.5s;
}

.letters span:nth-child(6) {
    animation-delay: 0.6s;
}

.letters span:nth-child(7) {
    animation-delay: 0.7s;
}

.letters span:nth-child(8) {
    animation-delay: 0.8s;
}

.letters span:nth-child(9) {
    animation-delay: 0.9s;
}

.letters span:nth-child(10) {
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 1s ease-out;
    z-index: -1;
}
