@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}

/*
===================================================================
======================DEBUT BARRE DE NAVIGATION====================
===================================================================
*/

nav {
    background-color: #116466;
    display: inline flex;
    padding: 1%;
    width: 100%;
}

#labisen-nav{
    width: 12%;
    height: 12%;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 99%;
    border-left: solid #D1E8E2 0.1vw;
    margin-left: 2%;
}

.item-nav {
    border: solid white 0.1vw;
    border-radius: 2vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
}

.item-nav a{
    color: inherit;
    text-decoration: none;
}

.item-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

.item-nav a img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

.triangle-nav {
    transform: rotate(180deg) scale(0.8);
}




#recherche-nav{
    border: solid white 0.1vw;
    border-radius: 3vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
    text-align: center;
}

#recherche-nav label{
    color: inherit;
    text-decoration: none;
}

#recherche-nav a{
    color: white;
    text-decoration: none;
}

#recherche-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

#recherche-nav label img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

#recherche-nav ul {
    display: none;
    position: absolute;
    right: 62%;
    background-color: #116466;
    border-radius: 1vw;
    height: auto;
    width: 12%;
    z-index: 1;
    padding-bottom: 2%;
    margin-top: 1%;
}

#recherche-nav input{
    display: none;
}

#recherche-nav input[type="checkbox"]:checked+ul {
    display: block;
}

#recherche-nav ul li {
    display: block;
    width: 100%;
    margin-top: 10%;
}





#infos-contact-nav{
    border: solid white 0.1vw;
    border-radius: 3vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
    text-align: center;
}

#infos-contact-nav label{
    color: inherit;
    text-decoration: none;
}

#infos-contact-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

#infos-contact-nav a{
    color: white;
    text-decoration: none;
}

#infos-contact-nav label img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

#infos-contact-nav ul {
    display: none;
    position: absolute;
    right: 1.8%;
    background-color: #116466;
    border-radius: 1vw;
    z-index: 1;
    height: auto;
    padding-bottom: 2%;
    width: 11%;
    margin-top: 1%;
}

#infos-contact-nav input{
    display: none;
}

#infos-contact-nav input[type="checkbox"]:checked+ul {
    display: block;
}

#infos-contact-nav ul li {
    display: block;
    width: 100%;
    margin-top: 10%;
}

/*
===================================================================
======================FIN BARRE DE NAVIGATION======================
===================================================================
*/

/*
===================================================================
===========================DEBUT FOOTER============================
===================================================================
*/

footer{
    font-family: "Lohit Devanagari";
    background-color: #116466;
    color: white;
    display: grid;
    grid-template-columns: 0.90fr 1fr;
    gap: 2%;
    padding: 4%;
    width: 100%;
}

footer h2{
    font-size: 2.5vw;
    margin-bottom: 7%;
}

#colonne-gauche-footer h2{
    margin-left: 35%;
}

#colonne-droite-footer h2{
    margin-left: 25%;
}

#colonne-gauche-footer ul{
    list-style-type: none;
    font-size: 1.5vw;
}

#colonne-droite-footer ul{
    list-style-type: none;
    font-size: 1.8vw;
}

footer a{
    text-decoration: none;
    color: inherit;
}

.li-campus-footer{
    margin-bottom: 3%;
}
.icone-insta{
    width: 5%;
    margin-bottom: -0.4vw;
}

#labisen-footer{
    width: 80%;
    margin-top: 13%;
    margin-left: 5%;
}

#colonne-gauche-footer{
    border-right: solid #D1E8E2 0.2vw;
}

#reseaux-footer li{
    margin-left: 34%;
    margin-bottom: 3%;
}

/*
===================================================================
============================FIN FOOTER=============================
===================================================================
*/


#title1{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 1rem;
}

.title2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #D1E8E2;
    
}


.box{
    color: #FFF;
    margin-left : auto;
    margin-right: auto;
    margin-top: 3rem ;
    width: 26.5rem;
    height: 5rem;
    padding: auto;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #116466;
    
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}

.box:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
    border : 0.15rem solid ;
    
}

.square_blue{
    background-color: #1E3050;
    width : 14rem;
    height : 2rem;
    margin-left: 25%;
    border-radius: 1rem;
    
}

#partenaires{
    width: 90%;
    display: grid;
    margin : auto ;
    grid-template-columns: 1fr 1fr;
    
}

.logo{
    width : 35%;
    height : auto ;
    margin : 2rem ;
}

.logo1{
    width : 45%;
    height: auto;
    margin : 2rem ;
    margin-left : 8rem;
}

.logo:nth-child(2n+1){
    grid-column: 1;
}

#nationaux{
    grid-column: 1;
    grid-row : span 6;
    margin-right : 10% ;
    margin-left : 10%
}

#internationaux{
    grid-column: 2;
    grid-row : span 3;
    margin-left: 20%;
}

.title{
    grid-column : 1 / span 2 ;
    text-align: center;
    color : white;
    font-weight: bold;
    font-size : 1.5rem ;
    
    
}

a{
    color: inherit;
    text-decoration: none;
}
