@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}




#title1{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 1rem;
}

.title2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #D1E8E2;
    
}


.box{
    color: #FFF;
    margin-left : auto;
    margin-right: auto;
    margin-top: 3rem ;
    width: 26.5rem;
    height: 5rem;
    padding: auto;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #116466;
    border : 0.15rem solid #116466;
    
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}

.box:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
    
    
}

.square_blue{
    background-color: #1E3050;
    width : 14rem;
    height : 2rem;
    margin-left: 25%;
    border-radius: 1rem;
    
}

#partenaires{
    width: 90%;
    display: grid;
    margin : auto ;
    grid-template-columns: 1fr 1fr;
    
}

.logo{
    width : 35%;
    height : auto ;
    margin-top : 2rem ;
    margin-left : 0% ;
    margin-right : 0rem ;
}

.logo1{
    width : 35%;
    height: auto;
    margin : 2rem ;
    margin-left : 8rem;
}

.logo:nth-child(2n+1){
    grid-column: 1;
}

#partenaires{
    width: 100%;
    height: auto;
}

#nationaux{
    grid-column: 1;
    grid-row : span 6;
    margin-left : 10% ;
    margin-bottom: 10%;
}

#internationaux{
    grid-column: 2;
    grid-row : span 3;
    margin-left: 20%;
}

.title{
    grid-column : 1 / span 2 ;
    text-align: center;
    color : white;
    font-weight: bold;
    font-size : 1.5rem ;
    
    
}

a{
    color: inherit;
    text-decoration: none;
}

.logo_partenaires{
    width: 50%;
    height: auto;
}

.tags{
    text-align: left;
    margin-top: 5px;
}

.tags p {

    background-color: #1E3050;
    color: #D1E8E2;
    border-radius: 5px;
    display: inline-block;
}

