@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}



#isen{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;



}

.titre{
    background-color:  #116466;
    border-radius: 2.5vw;
    width: 30%;
    height: 8%;
    align-content: center;
    margin:auto;
    padding: auto;
    text-align: center;
    color: white;
 
 }

 .sous-titre{
    text-align: center;
    color: black;

 }

.moyens_de_transports{
    margin-left : 12% ;
}


 .en-avion span {
    display: inline-block;
    margin-left: -9%;
 }

 .en-train span{
    display: inline-block;
    margin-left: -9%;
 }

 .en-voiture{
    margin-left: 1.5%;
 }
 
 .en-voiture span{
    display: inline-block;
    margin-left: -11%;
 }
 
 .en-bus{
    margin-left: -0.5%;
    margin-bottom: 4%;
 }
 .en-bus span{
    display: inline-block;
    margin-left: -9%;
 }
 
 .en-car{
    margin-left: -0.5%;
 }
 .en-car span {
    display: inline-block;
    margin-left: -9%;
 }
