@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}



/*
===================================================================
======================DEBUT BARRE DE NAVIGATION====================
===================================================================
*/

nav {
    background-color: #116466;
    display: inline flex;
    padding: 1%;
    width: 100%;
}

#labisen-nav{
    width: 12%;
    height: 12%;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 99%;
    border-left: solid #D1E8E2 0.1vw;
    margin-left: 2%;
}

.item-nav {
    border: solid white 0.1vw;
    border-radius: 2vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
}

.item-nav a{
    color: inherit;
    text-decoration: none;
}

.item-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

.item-nav a img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

.triangle-nav {
    transform: rotate(180deg) scale(0.8);
}




#recherche-nav{
    border: solid white 0.1vw;
    border-radius: 3vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
    text-align: center;
}

#recherche-nav label{
    color: inherit;
    text-decoration: none;
}

#recherche-nav a{
    color: white;
    text-decoration: none;
}

#recherche-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

#recherche-nav label img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

#recherche-nav ul {
    display: none;
    position: absolute;
    right: 62%;
    background-color: #116466;
    border-radius: 1vw;
    height: auto;
    width: 12%;
    z-index: 1;
    padding-bottom: 2%;
    margin-top: 1%;
}

#recherche-nav input{
    display: none;
}

#recherche-nav input[type="checkbox"]:checked+ul {
    display: block;
}

#recherche-nav ul li {
    display: block;
    width: 100%;
    margin-top: 10%;
}





#infos-contact-nav{
    border: solid white 0.1vw;
    border-radius: 3vw;
    padding: 0.5% 1% 0.5% 1%; /*ordre : top right bottom left*/
    white-space: nowrap;
    color: white;
    transition: 0.5s;
    font-size: 1vw;
    text-align: center;
}

#infos-contact-nav label{
    color: inherit;
    text-decoration: none;
}

#infos-contact-nav:hover{
    background-color: #D1E8E2;
    color: #116466;
    border-color: #116466;
}

#infos-contact-nav a{
    color: white;
    text-decoration: none;
}

#infos-contact-nav label img{
    margin: 0vw 0.3vw -0.5vw 0.1vw; /*ordre : top right bottom left*/
    width: 1.5vw;
}

#infos-contact-nav ul {
    display: none;
    position: absolute;
    right: 1.8%;
    background-color: #116466;
    border-radius: 1vw;
    z-index: 1;
    height: auto;
    padding-bottom: 2%;
    width: 11%;
    margin-top: 1%;
}

#infos-contact-nav input{
    display: none;
}

#infos-contact-nav input[type="checkbox"]:checked+ul {
    display: block;
}

#infos-contact-nav ul li {
    display: block;
    width: 100%;
    margin-top: 10%;
}

/*
===================================================================
======================FIN BARRE DE NAVIGATION======================
===================================================================
*/

/*
===================================================================
===========================DEBUT FOOTER============================
===================================================================
*/

footer{
    font-family: "Lohit Devanagari";
    background-color: #116466;
    color: white;
    display: grid;
    grid-template-columns: 0.90fr 1fr;
    gap: 2%;
    padding: 4%;
    width: 100%;
}

footer h2{
    font-size: 2.5vw;
    margin-bottom: 7%;
}

#colonne-gauche-footer h2{
    margin-left: 35%;
}

#colonne-droite-footer h2{
    margin-left: 25%;
}

#colonne-gauche-footer ul{
    list-style-type: none;
    font-size: 1.5vw;
}

#colonne-droite-footer ul{
    list-style-type: none;
    font-size: 1.8vw;
}

footer a{
    text-decoration: none;
    color: inherit;
}

.li-campus-footer{
    margin-bottom: 3%;
}
.icone-insta{
    width: 5%;
    margin-bottom: -0.4vw;
}

#labisen-footer{
    width: 80%;
    height: auto;
    margin-top: 13%;
    margin-left: 5%;
}

#colonne-gauche-footer{
    border-right: solid #D1E8E2 0.2vw;
}

#reseaux-footer li{
    margin-left: 34%;
    margin-bottom: 3%;
}

/*
===================================================================
============================FIN FOOTER=============================
===================================================================
*/

.titre{
    color:#116466;
    text-align: left;
    font-size: 250%;
    margin: auto;
    margin-left: 2%;
    margin-top: 1%;
}

.intro{
    font-size: 1,5vw;
    margin: auto;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

.barre{
    background-color: black;
    margin :auto;
    width: 95%;
    height: 1px;  
}

#sous-titre{
    color: #116466;
    font-size: 200%;

}

#sous-titre:hover{
    color : white;
}

.txt{
    margin-left : 5% ;
    text-align: justify;
}

#living-lab{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.texte-living_lab{
    
    text-align: justify;
    font-size: 1,5vw;

}

img{
    height: 50%;
    width: 100%;
    max-width: 100%;
    align-self: auto;
    align-items: center;
    
   

}

#environnement{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;

}

#environnement .sous-titre{
    margin-top: 1%;
}

/* =============== FENETRE MODALES ================*/


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 60%;
    overflow: auto;
    background-color: white;
  }
  

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
 
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sous-titre-modal{
    text-align: center;

}

#img-modal{
    height: 60%;
    width: 60%;
    max-width: 100%;
    align-self: auto;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}