@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}




.titre{
    color:#116466;
    text-align: left;
    font-size: 250%;
    margin: auto;
    margin-left: 2%;
    margin-top: 1%;
}

.intro{
    font-size: 1,5vw;
    margin: auto;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

.barre{
    background-color: black;
    margin :auto;
    width: 95%;
    height: 1px;  
}

#sous-titre1, #sous-titre2{
    color: #116466;
    font-size: 200%;
    text-align: left;
    cursor: pointer;

}

#sous-titre1:hover, #sous-titre2:hover{
    text-decoration: underline;
    transition: 1s;
}

.txt{
    margin-left : 5% ;
    text-align: justify;
}

#living-lab, #environnement{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#img_livinglab, #img_environnementHybride{
    width: 50%;
}


.texte-living_lab, .texte-environnement{
    
    text-align: justify;
    font-size: 1,5vw;

}

img{
    height: 50%;
    width: 100%;
    max-width: 100%;
    align-self: auto;
    align-items: center;
}

#environnement{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;

}

#environnement .sous-titre{
    margin-top: 1%;
}

/* =============== FENETRE MODALES ================*/


.blur-background {
    filter: blur(5px);
    transition: filter 0.2s ease-in-out;
}

