@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}
@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}

.titre{
   background-color:  #116466;
   border-radius: 2.5vw;
   width: 30%;
   height: 8%;
   align-content: center;
   margin: auto;
   color: white;
   border : 0.15rem solid #116466;
   margin-top: 3%;
}
.titre h1{
    color: inherit;
    text-align: center;
    font-size: 2.5vw;
    font-family: "Lekton Regular";
    padding-top: 3%;
    padding-bottom: 3%;
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}


.titre:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
}


.titre h1{
    color: white;
    text-align: center;
    font-size: 2.5vw;
    font-family: "Lekton Regular";
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}



.barre{
    background-color: black;
    margin:auto;
    width: 100%;
    height: 1px;  
    height: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.projets-en-cours , .projets-achevés{
    color: black;
    font-size: 1.5vw;
    margin:3%;
    text-align: justify;
}
.sous-titre{
    color: #116466;
}

#img-projet1{
    width: 85%;
    height : 75%;
}

#img-projet2{
    width: 40%;
    height: 30%;
}

#img-projet3{
    width : 95%;
    height: 60%;
}

.projet1,.projet3{
   display: flex;
   align-items: flex-start;
   gap: 10px;
}

.img-container{
    flex: 0 0 auto;
    margin: auto;
}

.text-container {
    flex: 1 1 auto; 
}
