@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
}   
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}



#title1{
    
    font-family: "Lekton Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 1rem;
}


.box{
    color: #FFF;
    margin-left : auto;
    margin-right: auto;
    margin-top: 3rem ;
    width: 26.5rem;
    height: 5rem;
    padding: auto;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #116466;
    border : 0.15rem solid #116466;
    
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}

.box:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
}


.barre{
    background-color: black;
    margin :auto;
    width: 85%;
    height: 2px;  
}

.title-box1{
    text-align: center;
    background-color: #1E3050;
    width: 15rem;
    height: auto;
    margin : auto;
}

.title2{
    text-align: center;
    color: white;
    font-size : 1rem ;

}

.publications{
    width : 80% ;
    margin : auto;
    display: flex;
    
    
}

.publications_txt{
    display: flex;
    flex-direction: column;
}


.square_blue{
    background-color: #1E3050;
    max-width : 215px;
    min-width: 15px;
    max-height : 15px;
    min-height: 15px;
    margin-right: 10px;
    margin-top: 5px;
}



.content_pub{
    margin : 0;
}

.blue_txt{
    color: #116466;
    font-weight: bold;
    
}

.title{
    font-weight: bold;

}


.title-box2{
    text-align: center;
    background-color: #D9B08C;
    width: 15rem;
    height: auto;
    margin : auto;
}

.square_yellow{
    background-color: #D9B08C;
    max-width : 15px;
    min-width: 15px;
    max-height : 15px;
    min-height: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

#picture-main{
    width: 100%;
}

/*Filtres */   

#content-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width : 80% ;
    margin : auto;
    

}

.filter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    background-color: #116466;
    color :#D1E8E2;
      
    border-radius: 1rem;

    width: 22%;
    max-width: 400px;
    box-sizing: border-box;
    
}

.txtFilter{
    margin-top: 5%;
    
}

.filterIn{
    width: 80%;
    height: 10%;
    padding: 10px;
    box-sizing: border-box;
}