@font-face {
    font-family: "Lekton Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lekton-Regular.woff') format('woff');
}

@font-face {
    font-family: "Lohit Devanagari";
    font-style: normal;
    font-weight: normal;
    src: url('../font/Lohit-Devanagari.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
      
body{
    font-family: "Lekton Regular";
    background-color: #D1E8E2;
    max-width: 100%;
    overflow-x: hidden;
}


#title{
    
    font-family: "Lekton Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 1rem;
}


.box{
    color: #FFF;
    margin-left : auto;
    margin-right: auto;
    margin-top: 3rem ;
    width: 26.5rem;
    height: 5rem;
    padding: auto;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #116466;
    border : 0.15rem solid #116466;

    
}

@keyframes dissolve {
    from {
        background-color: #116466;
    }
    to{
        background-color: #D1E8E2;
    }
}

.box:hover{
    color : #116466; 
    animation : dissolve 0.5s ease forwards;
    
}

#content{
    margin: 3%;
}

.axe{
    font-weight :bold;
    font-size: 2rem;
}

.txt{
    text-align: justify;
    font-family: "Lekton Regular";
    font-size : 1.5vw;

}

#picture-main{
    width: 100%;
    background: url(images/picture-main.jpg), lightgray 75% , cover no-repeat;
    mix-blend-mode: overlay;
}
